
body {
    background-color: #ffffff;
}

.fon1 {
    background-color: #fff; 
    padding: 20px;
}

/* Общие стили для всех input и textarea */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

label {
    font-weight: bold;
}

.submit {
    padding: 10px 20px;
    background-color: #00ff37; /* Цвет фона кнопки */
    color: #000000;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #c8ff00;
}
.error {
    border-color: red;
}
/* Стили для поля с ФИО */
input[name="names"] {
    border: 1px solid #88c4ff; 
    border-radius: 4px;
    padding: 8px; 
    width: 100%; 
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Стили для поля с ФИО при фокусе */
input[name="names"]:focus {
    border-color: #ddff80;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Стили для поля с ФИО при вводе неправильного значения */
input[name="names"][names="error"] {
    border-color: red; 
}
/* Стили для блока с данными пользователя */
.fon1 {
    background-color: #fff; 
    padding: 20px; 
    margin-bottom: 20px;
}

/* Стили для таблицы с данными и статистикой */
.table-container {
    background-color: #fff; 
    padding: 20px;
}

/* Стили для заголовка таблицы */
.table-container h2 {
    margin-top: 0;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Стили для заголовков таблицы */
table th {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* Стили для ячеек таблицы */
table td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Стили для кнопок управления в таблице */
.action-buttons {
    text-align: center;
}

/* Стили для кнопки удаления */
.action-buttons .delete-button {
    background-color: #30e25d;
    color: #fff;
    padding: 8px 16px; 
    border: none;
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s;
}

/* Стили для кнопки удаления при наведении */
.action-buttons .delete-button:hover {
    background-color: #a5eb4b; 
}

/* Стили для кнопки редактирования */
.action-buttons .edit-button {
    background-color: #00ff40; 
    color: #000000;
    padding: 5px 10px;
    border: none;
    cursor: pointer; 
}

/* Стили для кнопки редактирования при наведении */
.action-buttons .edit-button:hover {
    background-color: #7db300; 
}

.edit-user-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-user-form label {
    display: block;
    margin-bottom: 5px;
}

.edit-user-form input[type="text"],
.edit-user-form input[type="tel"],
.edit-user-form input[type="email"],
.edit-user-form input[type="date"],
.edit-user-form textarea,
.edit-user-form select {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-user-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.edit-user-form textarea {
    min-height: 100px;
}

.edit-user-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #00ff15;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-user-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.edit-user-form .delete-button {
    background-color: #dc3545;
}

.edit-user-form .delete-button:hover {
    background-color: #c82333;
}
